
.main{
  display: flex;

}
.form-container{
  width: 70%;
}

.info-container{
  width: 30%;
  background-color: rgb(226, 141, 43);
}
.info-container table {
  border-collapse: collapse;
}

.info-container table td {
  padding: 40px;
  border: 1px solid rgb(28, 148, 48);
}

.info-container table td:first-child {
  font-weight: bold;
}

.info-container p span {
  color: red;
}

.image-container img {
  width: 100vw;
  height: 100vh;
}

.top-header-area {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(156, 168, 223);
}

.login_bg {
  position: relative;
  background-image: url("./assets/Mix.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}